.grid-container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    width:800px;
    margin:auto;
}
.item{
    color:white;
    background-color: #3498db;
    border: 2px solid #2980b9;
    text-align: center;
    
}
.item img{
    width:100%;
    height:100%;
    object-fit: cover;
    
}